<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- help : http://logback.qos.ch/manual/appenders.html -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>true</withJansi>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %5level [%16.16thread] %32.32logger{31}:%4line: %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="org.javers.JQL" level="debug"/>
	<logger name="org.javers.TypeMapper" level="debug"/>

	<logger name="org.springframework.data" level="DEBUG"/>
	<logger name="com.zaxxer.hikari" level="DEBUG"/>

	<root level="INFO">
		<appender-ref ref="console"/>
	</root>

</configuration>